<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dojos</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-+0n0xVW2eSR5OomGNYDnhzAbDsOXxcvSN1TPprVMTNDbiYZCxYbOOl7+AMvyTG2x" crossorigin="anonymous">
</head>
<body>
    <div class="container pt-4">
        <div class='row'>
            <div class='col-6'>
                <h1>New Dojo</h1>
                <form action='/dojos/create' method='POST'>
                    <div>
                        <label for="dojo_name">Name:</label>
                        <input type="text" id="dojo_name" name="dojo_name" required aria-required="true">
                    </div>
                    <input class='btn btn-dark mt-2' type="submit" value="Create">
                </form>
            </div>
            <div class='col-6'>
                <h1>All Dojos</h1>
                <ul class='list-unstyled'>
                    {% for dojo in all_dojos: %}
                        <li><a href='/dojos/{{dojo.id}}'>{{dojo.name}}</a></li>
                    {% endfor %}
                </ul>
                <a class='btn btn-dark' href="/ninjas">Add Ninja</a>
            </div>
        </div>
    </div>
</body>
</html>